<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row custom-table">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover" cdk-table >
              <ng-container cdkColumnDef="select">
                <th cdk-header-cell *cdkHeaderCellDef></th>
                <td cdk-cell *cdkCellDef="let element">
                </td>
              </ng-container>
              <ng-container cdkColumnDef="applicationNumber">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer" >Application Number</span>
                 
                </th>
                <td cdk-cell *cdkCellDef="let element;">
                  <u class="text-themecolor cursor-pointer"
                     routerLink="/application/{{element?.id}}/loan-application-details">894512</u>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="applicationDate">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer">Application Date</span>
                
                </th>
                <td cdk-cell *cdkCellDef="let element">12/12/1998</td>
              </ng-container>
              <ng-container cdkColumnDef="appliedAmount">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer" >Applied Amount</span>
                 
                </th>
                <td cdk-cell *cdkCellDef="let element">85000</td>
              </ng-container>
              <ng-container cdkColumnDef="rmName">
                <th cdk-header-cell *cdkHeaderCellDef>
                  RM Name
                </th>
                <td cdk-cell *cdkCellDef="let element">Kirana K R</td>
              </ng-container>
              <ng-container cdkColumnDef="rmNumber">
                <th cdk-header-cell *cdkHeaderCellDef>
                  RM Number
                </th>
                <td cdk-cell *cdkCellDef="let element">8945125689</td>
              </ng-container>
              <ng-container cdkColumnDef="customerName">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer" >Customer Name</span>
                  <
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  <u class="cursor-pointer text-themecolor"
                     >Kirana K R</u>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="insurance">
                <th cdk-header-cell *cdkHeaderCellDef>
                  Insurance Amount
                </th>
                <td cdk-cell *cdkCellDef="let element">0</td>
              </ng-container>
              <ng-container cdkColumnDef="model">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer" >Model</span>
                 
                </th>
                <td cdk-cell *cdkCellDef="let element">
                 8</td>
              </ng-container>
              <ng-container cdkColumnDef="status">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer" >Status</span>
                
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  <label class="badge badge-green" *ngIf="(element.applicationStatus === 5 || element.applicationStatus === 6 || element.applicationStatus === 7 || element.applicationStatus === 8)">Approved</label>
                  <label class="badge badge-upload" *ngIf="element.applicationStatus <=4">Processing</label>
                  <label class="badge badge-green" *ngIf="element.applicationStatus === 10">Disbursed</label>
                  <label class="badge badge-rejected" *ngIf="element.applicationStatus === 11">Rejected</label>
                  <label class="badge badge-link" *ngIf="element.applicationStatus === 12">Cancelled</label>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="resendLink">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer">Resend Link</span>
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  <button class="btn btn-rounded btn-sm btn-green text-uppercase"
                          *ngIf="element.applicationStatus >= 6 && element.applicationStatus <= 8"
                         >resend
                  </button>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="hold">
                <th cdk-header-cell *cdkHeaderCellDef>Hold</th>
                <td cdk-cell *cdkCellDef="let element">
                Yes
                </td>
              </ng-container>
              <ng-container cdkColumnDef="approvedAt">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer">Approved Date</span>
                </th>
                <td cdk-cell *cdkCellDef="let element">12/12/1998</td>
              </ng-container>
              <ng-container cdkColumnDef="reason">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer" >Reason</span>
               
                </th>
                <td cdk-cell *cdkCellDef="let element">
                 Pan invalid
                </td>
              </ng-container>
              <ng-container cdkColumnDef="loggedBy">
                <th cdk-header-cell *cdkHeaderCellDef>
                  <span class="cursor-pointer" >Logged By</span>
               
                </th>
                <td cdk-cell *cdkCellDef="let element">Kirana K R</td>
              </ng-container>
              <ng-container cdkColumnDef="plus">
                <th cdk-header-cell *cdkHeaderCellDef></th>
                <td cdk-cell *cdkCellDef="let element; let index = index">
                  <i class="fa fa-angle-down cursor-pointer" ></i>
                </td>
              </ng-container>
              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
              <tr cdk-row *cdkRowDef="let element; columns: displayedColumns" #rowsContainer></tr>
            </table>
            <p  class="text-center">No Data Found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>